/* Font import */
@font-face {
    font-family: 'Chickweed';
    src: url('../fonts/Chickweed.otf') format('opentype');
}
@font-face {
    font-family: 'Alagard';
    src: url('../fonts/alagard.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#cutsceneVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#startButton, .playerName {
    font-family: 'Alagard', Courier, monospace;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0; 
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 1px solid grey;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 2;
}

#startButton:hover, .playerName:hover {
    background-color: #00ffbb36;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 4; 
}

/* Overlay Style */
.overlay {
    position: fixed;
    display: none; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 3; 
}

h1 {
    font-size: 4em;
    margin-bottom: 0.25em;
    color: #00CC99;
    font-family: 'Chickweed', sans-serif;
    letter-spacing: 0.05em;
}

@media (max-width: 600px) {
    #startButton, .playerName {
        font-size: 16px;
        padding: 10px 20px;
    }
}

.divider {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3; 
}
