/* Font import */
@font-face {
    font-family: 'Chickweed';
    src: url('../fonts/Chickweed.otf') format('opentype');
}
@font-face {
    font-family: 'Alagard';
    src: url('../fonts/alagard.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #FFF; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

/* Background image */
main::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.cardsGrouped {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

title {
    display: flex;
    justify-content: center;
    font-family: 'Chickweed', sans-serif;
    font-size: 4em;
    padding: 30px 0px 0px 0px;
    margin-top: 20px; 
    color: #00CC99;
}

#subtitle {
    color: #FFF;
    padding: 0px 25px 5px 20px;
    font-size: 20px;
    font-family: 'Alagard', Courier, monospace;
}

.card {
    width: 250px;
    height: 350px;
    margin: 10px;
    perspective: 1000px;
    border: 4px solid gray;
    border-radius: 3px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    max-height: 350px;
    overflow: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

p {
    font-size: 18px;
    text-align: center;
    color: #333;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Fira Mono', monospace;
    margin-top: 15px;
    color: #000;
}

header {
    text-align: center;
}

header h1, .subtitle {
    font-family: 'Chickweed', sans-serif;
    text-shadow: 4px 4px 8px #000000;
    letter-spacing: 0.05em;
    margin-left: 0;
}

header h1 {
    font-size: 4em;
    margin-bottom: 0;
    color: #00CC99;
    font-family: 'Chickweed', sans-serif;
}

.card-back .details {
    font-family: 'Roboto Mono';
    padding: 5px 20px 0px 20px;
}

.card-back .details > p {
    text-align: center;
    font-size: 16px;
}

.mainBtns {
    display: flex;
    justify-content: center;
    margin-top: 1em; 
}

button {
    padding: 15px 30px; 
    font-size: 20px; 
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 3px;
    border: 1px solid grey;
    font-family: 'Alagard', Courier, monospace;
    transition: background-color 1s, transform 1s;
}

button:hover {
    background-color: #00ffbb80;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Form styling */
form#playerSelectionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Style for form elements */
form#playerSelectionForm > .form-group {
    margin: 10px 0; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for labels and select box */
form#playerSelectionForm label,
form#playerSelectionForm select {
    margin-bottom: 10px;
    width: auto; 
    text-align: center;
}

/* Style for the button */
form#playerSelectionForm button {
    margin-top: 20px; 
}

.label-margin {
    margin-top: 10px; 
    margin-bottom: 10px;
    display: block; 
}


/* Responsive adjustments for different screen sizes */
@media screen and (max-width: 768px) {
    .card {
        width: 200px; 
        height: 300px; 
    }

    .card-back {
        max-height: 300px; 
    }

    title {
        font-size: 40px;
    }

    #subtitle {
        font-size: 18px;
    }
}

/* Responsive adjustments for mobile */
@media screen and (max-width: 480px) {
    .cardsGrouped {
        flex-direction: column;
    }

    .card {
        width: 150px;
        height: 225px;
    }

    .card-back {
        max-height: 225px; 
    }

    title {
        font-size: 30px;
    }

    #subtitle {
        font-size: 16px;
    }
}

#playerCountButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerButton {
    padding: 40px 60px;
    font-size: 48px; /* Significantly increased font size */
    margin: 15px;
    flex: 0 0 25%; /* Width of each button */
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid grey;
    font-family: 'Alagard', Courier, monospace;
    transition: background-color 0.5s, transform 0.5s;
}

.playerButton:hover {
    background-color: #00ffbba1; 
    color: #FFF;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .playerButton {
        padding: 30px 40px;
        font-size: 40px; /* Adjusted font size for medium screens */
    }
}

@media screen and (max-width: 480px) {
    .playerButton {
        padding: 20px 30px;
        font-size: 32px; /* Adjusted font size for small screens */
        flex: 0 0 100%; /* Full width on very small screens */
    }
}

.divider {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3; 
}

.playerButton.selected {
    background-color: #00ffbb80; 
}

.navButton {
    padding: 15px 30px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 3px;
    border: 1px solid grey;
    font-family: 'Alagard', Courier, monospace;
    display: inline-block; 
    text-align: center;
    transition: 1s;
    color: #00CC99;
}

.navButton:hover {
    background-color: #00ffbba1; 
    color: #FFF;
}