@font-face {
    font-family: 'Alagard';
    src: url('../fonts/alagard.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Alagard', fantasy;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.main-btns .links .btn-names, .backup-puzzles .btn-names {
    font-size: 20px;
}

.fa-puzzle-piece:before, .fa-address-book-o:before, .fa-key:before {
    font-size: 40px;
    padding-right: 8px;
}

.fa-pagelines:before, .fa-phone:before {
    font-size: 40px;
}

#pinFormBtn {
    width: 250px;
    background-color: black;
    color: white;
}

#pinFormBtn:hover {
    color: #00ffbf;
    text-shadow: -2px 0px 12px #09ed6c;
    background-color: black;  
    border: 3px solid goldenrod; 
}

.links {
    flex: 0 0 45%; /* Reduced width slightly */
    margin: 1%;
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    color: #00ffbf;
    text-decoration: none;
    border: white solid 3px;
    border-radius: 15px;
}

.main-btns .links:hover {
    color: #00ffbf;
    text-shadow: -2px 0px 12px #09ed6c;
    background-color: black;
}

.backup-puzzles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
}

.backup-puzzles button:hover, .backup-puzzles a:hover {
    color: #00ffbf;
    text-shadow: -2px 0px 12px #09ed6c;
    background-color: black;
}

.backup-puzzles button {
    background-color: darkred;
    color: #00ffbf;
    border: white solid 3px;
    border-radius: 15px;
    width: 150px;
    height: 140px;
}
.backup-puzzles a {
    flex: 0;
    flex-basis: 130px;
    height: 140px;
}

.backup-puzzles .puzzle-names {
    font-size: 20px;
}

/* Timer Styles */
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 300px;
}

.timer-container {
    background-color: transparent;
    color: black;
    padding: 5px;
    border: none;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.timer .progress-container {
    width: 100%;
    border: 1px solid #00CC99;
    --height: 30px;
    height: var(--height);
}

.display {
    font-size: 100px; /* Increased font size */
    color: #00CC99;
}

:root {
    --safe: rgb(16, 179, 16);
    --warn: rgb(218, 218, 10);
    --danger: rgb(202, 14, 14);
}

.timer .progress {
    --color: var(--safe);
    --progress: 1;
    background-color: var(--color);
    width: 100%;
    height: var(--height);
    transform: scaleX(var(--progress));
    transform-origin: left;
    transition: transform 0.1s, color 0.1s;
}

.modal-content {
    text-align: center;
    font-family: 'Alagard', fantasy;
}

.modal-header {
    justify-content: center;
}

.modal-title {
    font-size: 35px;
}

.modal-btn {
    background-color: darkred;
    color: #00ffbf;
    border: darkred solid 5px;
    border-radius: 15px;
}

.modal-footer {
    justify-content: center;
}

.pin-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

.close-top-right {
    position: absolute;
    top: 15px;
    right: 15px;
}

#phoneAnim {
    position: fixed;
    bottom: -40px;
    right: 0;
    width: 300px;
    height: 300px;
    z-index: 999;
    filter: hue-rotate(100deg);
}

#plantAnim {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 300px;
    height: 300px;
    z-index: 999;
}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.modal-body p {
    font-size: 24px;
    margin-right: 15px;
}

.modal-footer .btn-custom {
    width: 100px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.btn-answer {
    background-color: #90EE90;
    border-color: #90EE90;
}

.btn-decline {
    background-color: #FFC0CB;
    border-color: #FFC0CB;
}

.btn-answer:hover {
    background-color: #76C476;
}

.btn-decline:hover {
    background-color: #FFA0A0;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: 100%;
}